*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  font-family: "Barlow", sans-serif;
  display: grid;
  place-items: center;
  font-size: 1.2rem;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  width: 62rem;
  padding: 4rem;
  background-color: #D7D7D7;
}

.cv{
  background-color: #FEFEFE;
  box-shadow: 0 1rem 1.5rem #888888;
}

.cv-body {
  padding: 0 3rem 1rem 3rem;
}

.cv-body {
  display: flex;
}

.cv-footer{
  height: 1rem;
  width: 100%;
  background-color: #43b1b4;
}

.cv-body-left {
  flex-basis: 40%;
  padding-right: 2.5rem;
}

.cv-body-right {
  flex-basis: 60%;
  border-left: .2rem solid #44b1b4;
  padding-left: 1rem;
}


.cv-head {
  background-color: #44b1b4;
  padding: 4rem 3rem 1.5rem;
  color: white;
  text-transform: uppercase;
  padding-left: 23rem;
}

.cv-title,
.cv-social {
  width: 18rem;
  padding: 0.8rem 0rem;
}

.cv-title-name {
  width: 16rem;
  font-size: 31px;
  font-weight: 700;
  line-height: 1;
}

.cv-title-profession {
  font-weight: 500;
  font-size: 2rem;
  color: #a1f1f3;
}

.cv-social {
  border-top: 1px solid white;
}

.cv-social-link:not(:last-child) {
  margin-right: 5px;
}

.cv-social-icon {
  width: 14px;
  background-color: white;
  padding: 0.2rem;
  border-radius: 50%;
}

.cv-profile {
  font-size: 1.3rem;
  border: 2px solid #43b1b4;
  text-align: center;
  padding: 1rem;
  border-radius: 10rem;
  display: inline-block;
  position: relative;
  top: -18rem;
  background-color: white;
}

.cv-profile-img {
  width: 16.5rem;
  border-radius: 50%;
}

.cv-profile-info {
  margin: 2rem 0rem;
}

.cv-profile-title {
  color: #43b1b4;
  font-weight: 500;
  text-transform: uppercase;
}
.cv-profile-description {
  color: #4d4d4d;
  font-weight: 300;
}

.cv-profile-description:not(:last-child) {
  margin-bottom: 2rem;
}

.cv-acheievements {
  margin-top: -16rem;
}

.cv-section {
  margin-bottom: 1rem;
}

.cv-section-name {
  text-transform: uppercase;
  background-color: #44b1b4;
  color: white;
  display: inline-block;
  padding: 0.2rem 1rem;
  border-radius: 0rem 1rem 1rem 0rem;
  margin: 1rem 0rem;
  font-size: 1.2rem;
  font-weight: 400;
  position: relative;
}

.cv-section-name-modified::before{
  content: "";
  width: .7rem;
  height: 0.2rem;
  background-color: #44b1b4;
  position: absolute;
  top: 50%;
  left: -1rem;
  transform: translateY(-50%);
}

.section-content {
  position: relative;
  margin-bottom: 1rem;
}

.section-content:not(:last-child)::after {
  content: "";
  width: 2px;
  height: 125%;
  background-color: #44b1b4;
  position: absolute;
  left: 0.2rem;
  top: 0.5rem;
}

.section-content-heading {
  font-weight: 400;
  text-transform: uppercase;
  font-size: 1.2rem;
  display: inline-block;
  width: 6.8rem;
  position: relative;
  margin-left: 1rem;
}

.section-content-heading::before {
  content: "";
  width: 0.6rem;
  height: 0.6rem;
  background-color: #44b1b4;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: -1rem;
  transform: translateY(-50%);
}

.section-content-heading::after {
  content: "";
  width: 1px;
  height: 70%;
  background-color: #4d4d4d;
  position: absolute;
  top: 50%;
  right: 0rem;
  transform: translateY(-50%);
}

.section-content-heading-modified {
  width: 3.5rem;
}

.section-content-span {
  margin-left: 1rem;
  color: #44b1b4;
  display: inline-block;
  text-transform: uppercase;
}

.section-content-description {
  font-weight: 300;
  margin-left: 7.6rem;
}

.section-content-description-modified {
  margin-left: 4.3rem;
}

.content-about {
  font-weight: 400;
}

.section-circle {
  background-color: #44b1b4;
  height: 1rem;
  width: 1rem;
  display: inline-block;
  border-radius: 50%;
  margin-top: 0.5rem;
}

.section-circle:first-child {
  margin-left: 2rem;
}

.section-circle:not(:last-child) {
  margin-right: 1rem;
}

.section-circle-grey {
  background-color: #4d4d4d;
  opacity: 15%;
}